body {
    text-align: center;
}

#darth {
    width: 300px;
}

#mando {
    width: 300px;
    height: 449px;
}

#storm {
    width: 300px;
    height: 449px;
}

#death {
    height: 449px;
    width: 300px;
}

#than1 {
    height: 449px;
    width: 300px;
}

#than2 {
    height: 449px;
    width: 300px;
}

#than3 {
    height: 449px;
    width: 300px;
}

#than4 {
    height: 449px;
    width: 300px;
}

#iron1 {
    height: 449px;
    width: 300px;
}

#venom {
    height: 449px;
    width: 300px;
}

#deadp {
    height: 449px;
    width: 300px;
}

#warmh {
    height: 449px;
    width: 300px;
}

#grid {
    font-size: 50px;
}

#sliding {
    font-size: 50px;
}